<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 						   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
 						   http://www.springframework.org/schema/context
 						   http://www.springframework.org/schema/context/spring-context-3.0.xsd
 						   http://www.springframework.org/schema/tx 
  						   http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">


   <bean class="org.springframework.beans.factory.config.CustomScopeConfigurer">
        <property name="scopes">
            <map>
                <entry key="view">
                    <bean class="com.freepay.infraestructura.shared.ViewScope"/>
                </entry>
            </map>
        </property>
    </bean>

	<context:annotation-config  />

	<context:component-scan base-package="com.freepay.infraestructura.persistencia.impl" />
	<context:component-scan base-package="com.freepay.aplicacion" />

	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://181.143.12.230:3306/freepay" />
		<property name="username" value="abetancur" />
		<property name="password" value="abm.023" />
	</bean>
		
<!-- 	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate"> -->
<!-- 		<constructor-arg ref="dataSource"></constructor-arg> -->
<!-- 	</bean> -->
	
<!-- 	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"> -->
<!-- 		<property name="driverClassName" value="com.mysql.jdbc.Driver" /> -->
<!-- 		<property name="url" value="jdbc:mysql://127.0.0.1:3306/freepay" /> -->
<!-- 		<property name="username" value="root" /> -->
<!-- 		<property name="password" value="" /> -->
<!-- 	</bean> -->
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
	 	<property name="dataSource" ref="dataSource"></property>
	 	<property name="mappingLocations">
	 		<list>
	 			<value>classpath:com/freepay/infraestructura/persistencia/hibernate/Cobro.hbm.xml</value>
	 			<value>classpath:com/freepay/infraestructura/persistencia/hibernate/Datafono.hbm.xml</value>
	 			<value>classpath:com/freepay/infraestructura/persistencia/hibernate/Empresa.hbm.xml</value>
	 			<value>classpath:com/freepay/infraestructura/persistencia/hibernate/Usuario.hbm.xml</value>
	 			<value>classpath:com/freepay/infraestructura/persistencia/hibernate/TipoIdentificacion.hbm.xml</value>
	 			<value>classpath:com/freepay/infraestructura/persistencia/hibernate/Cuenta.hbm.xml</value>
	 			<value>classpath:com/freepay/infraestructura/persistencia/hibernate/Transaccion.hbm.xml</value>
	 			<value>classpath:com/freepay/infraestructura/persistencia/hibernate/TipoTransaccion.hbm.xml</value>
	 		</list>
	 	</property>
	 	<property name="configurationClass">
      		  <value>org.hibernate.cfg.AnnotationConfiguration</value>
        </property>
	 	<property name="hibernateProperties">
	 		<value>
	 			hibernate.format_sql=true
	 			hibernate.show_sql=true;
	 		</value>
	 	</property>
	</bean>
	
	
	<!--Gestion de transacciones-->   
	<tx:annotation-driven transaction-manager="transactionManager" /> 
	<bean id="transactionManager"  class="org.springframework.orm.hibernate3.HibernateTransactionManager">
    <property name="sessionFactory">
         <ref local="sessionFactory"/>
    </property>
    </bean>
	
	<!--Inicializo Repositorios-->
	<bean id="datafonoRepository" class="com.freepay.infraestructura.persistencia.impl.DatafonoRepository">
		<constructor-arg name="sessionFactory" ref="sessionFactory"></constructor-arg>
	</bean>	
	<bean id="cuentaRepository" class="com.freepay.infraestructura.persistencia.impl.CuentaRepository">
		<constructor-arg name="sessionFactory" ref="sessionFactory"></constructor-arg>
	</bean>	
	<bean id="transaccionRepository" class="com.freepay.infraestructura.persistencia.impl.TransaccionRepository">
		<constructor-arg name="sessionFactory" ref="sessionFactory"></constructor-arg>
	</bean>
		 
	<!--Inicializo Servicios de Dominio-->
	<bean id="datafonoService" class="com.freepay.dominio.servicio.DatafonoService">
		<property name="datafonoRepository" ref="datafonoRepository" ></property>
	</bean>
	<bean id="transaccionService" class="com.freepay.dominio.servicio.TransaccionService">
		<property name="datafonoRepository" ref="datafonoRepository" ></property>
		<property name="cuentaRepository" ref="cuentaRepository" ></property>
		<property name="transaccionRepository" ref="transaccionRepository" ></property>
	</bean>
	
	<!--Inicializo Controlador-->
	<bean id="generarCobroBean" class="com.freepay.aplicacion.GenerarCobroBean"  scope="session"  >
		<property name="datafonoService" ref="datafonoService" ></property>
	</bean> 
	
     <bean id="pago" class="com.freepay.aplicacion.PagoRest"  >
		<property name="transaccionService" ref="transaccionService" ></property>
	</bean> 
	
</beans>